@font-face {
	font-family: "figtree";
	src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  	--color-yellow:	   hsl(47, 88%, 63%);
	--color-white:	   hsl(0, 0%, 100%); 
	--color-gray-clear:hsl(0, 0%, 42%);  
	--color-gray-dark: hsl(0, 0%, 7%); 
	
}

body {
 	font-family: "figtree";
	font-size: 16px;
	background: var(--color-yellow);
	margin: 0;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.card {
	border: 1px solid black;
	border-radius: 1rem;
	padding: 20px;
	max-width: 335px;
	background: var(--color-white);
	box-shadow: black 7px 7px;
}
.image img {
	border-radius: 12px;
	width: 100%;
}
.learning {
	margin-top: 1.2rem;
	font-weight: 800;
	background: var(--color-yellow);
	display: inline-block;
	border-radius: .2rem;
	padding-inline: .5rem;
	padding-block: .3rem;
}
.date {
	margin-top: .5rem;
	font-size: 14px;
	font-weight: 600;

}
.title h1{
	font-size: 20px;
}
.title h1:hover {
	color: var(--color-yellow);
	cursor: pointer;
}
.description {
	font-size: 14px;
	color: var(--color-gray-clear);
}
.profile {
	max-height: 50px;
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}
.profile-image img {
	width: 32px;
	height: 32px;
}		
.profile-name{
	margin-left: .8rem;
	font-weight: 800;
	color: var(--color-gray-dark);
}